body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
}
.figma-logo {
 width: 200px;
  display: flex;
  flex-wrap:wrap;
}
.element {
 width: 100px;
 height: 100px;
 background: red;
}
